<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quizr: Home</title>
  </head>
  <body>
    <h1>Home page!</h1>
    <div class="add-deck">
      <div class="deck-container">

      </div>
      <div class="new-deck-form">

      </div>
    </div>
    <div class="add-card">
      <div class="card-container">

      </div>
      <div class="new-card-form">
        
      </div>
    </div>
    <div class="quizzes">

    </div>
    <script src="js/home.js" charset="utf-8"></script>
  </body>
</html>
